
.container_login_form_btn
{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap_login_form_btn
{
    width:100%;
    display:block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    /* box-shadow: 0 0 3px 3px #dddddd,
        4px 4px 6px 2px rgba(136,136,136,0.7),
            -4px -4px 6px 2px rgba(244,244,244,0.7); */

}
.login_form_btn
{
    font-family: 'Poppins';
    font-size: 15px;
    color: #000;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    padding:0 20px;
    height: 50px;
    width:100%;
    background:#EE7D15;
    border: none;

}

.login_form_btn:hover
{
    background:#EE7D15;
    color:#ddd;
}


