.container{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;

}

.like_comment_icons{
    display: flex;
    align-items: center;
    flex: 1;
}

.like_icon{
    flex: 0;
}

.likes{
    flex: 1;
    align-self: center;
    color: #7F5537;
}

.comments_logo{
    width: 30px;
    border-radius: 0;
}

