
.modal_content{
    height: 50vh;
    overflow: scroll;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 40vw;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;

}

.top_menu_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem 3rem;
    border-radius: 40px;
    box-shadow: 0 15px 25px rgba(5, 5, 4, 0.507);

}

.countries_container img{
    width: 3rem;
    border-radius: 30px;
    align-self: center;
}

.countries_container{
    margin: 2px;
    display: flex;
    height: 8vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 50px;
}

.countries_container_collapsed:hover{
    box-shadow: 0px 5px 10px 0px #ffbd59ad; 

}

.countries_container_extra_space{
    width: 48%;
    display: flex;
    justify-content:space-between;
}

.countries_container_extra_space:hover{
    background-color: rgba(229, 235, 148, 0.626);
}


.countries_container h1{
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.toogle_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.toogle_container p{
    padding: 0 1rem;
    margin: 0;
}

.search_container{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_container input{
    outline: none;
    border-radius: 50px;
    width: 80%;
    background-color: inherit;
    text-align: center;
}


.close_container h4{
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
    transition-duration: 0.3s;
}

.close_container h4:hover{
    color: rgb(208, 87, 87);
}

.buttons .cancel{
    color: aliceblue;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
    border-radius: 50px;
    background-color: rgb(209, 95, 95);
}

.buttons .cancel:hover{
    background-color: rgb(198, 35, 35);
}

@media (max-width: 650px) {
    .modal_content{
        width: 80%;
        height: 55vh;
    }

    .countries_container{
        padding: 10px;
        height: 12vh;
        width: 43%;
    }

    .toogle_container p{
        display: none;
    }

    .top_menu_container{
        padding: 1rem 10px;
    }
  }



